__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
bin/
build/
develop-eggs/
dist/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
.env
.venv
venv/
ENV/

# Media and Large Files
*.mp4
*.wav
*.avi
*.mkv
*.pt
*.pdf
*.jpg
*.jpeg
*.png
*.svg
!static/img/*.png
!static/img/*.svg
!static/img/*.jpg

# Local data
violation.json
result.json
instance/
.web_cache/

# IDE
.vscode/
.idea/
*.swp
*.swo
